In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv(r"D:\Machine_Learning\Study_mart\home_prices.csv")

In [4]:
df

             x          y
0    48.955889  60.723602
1          NaN        NaN
2    44.687196  82.892504
3          NaN        NaN
4    60.297327  97.379897
..         ...        ...
192  50.039576  85.232007
193        NaN        NaN
194  48.149859  66.224958
195        NaN        NaN
196  25.128485  53.454394

[197 rows x 2 columns]

In [5]:
df.shape

(197, 2)